$color-white: #fff;
$color-background: #f7f8fd;
$color-blue: #4661e6;
$color-dark-blue: #373f68;
$color-special-black: #3a4374;
$color-grey: #647196;
$color-light-grey: #f2f4fe;
$color-orange: #f49f85;
$color-purple: #ad1fea;
$color-light-blue: #62bcfa;
