* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f7f8fd;
}

@import './global-var/variables';
@import './global-var/font';
@import './global-var/mixins';
@import './index-style/nav';
@import './index-style/sort-header';
@import './index-style/feedbacks';
