@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #f7f8fd;
}

* {
  font-family: 'Jost', sans-serif;
}

h1 {
  font-size: 18px;
}

h2 {
  font-size: 15px;
}

h3 {
  font-size: 18px;
}

h4 {
  font-size: 13px;
}

.body1 {
  font-size: 16px;
}

.body2 {
  font-size: 13px;
}

button {
  border-radius: 10px;
  border: 0;
  cursor: pointer;
  font-weight: 600;
}

button:focus {
  outline: none;
}

.category-btn {
  background: #f2f4fe;
  font-size: 13px;
  text-transform: capitalize;
  padding: 7.5px 15px;
  color: #4661e6;
}

.button1 {
  background: #ad1fea;
  padding: 10px 20px;
  font-size: 13px;
  color: #f2f4fe;
  -webkit-transition: background 0.4s ease-in-out;
  transition: background 0.4s ease-in-out;
}

.button1:hover {
  background: #c75af6;
}

.uppercase {
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 24px;
  }
  h2 {
    font-size: 20px;
  }
  h4 {
    font-size: 14px;
  }
  .body2 {
    font-size: 16px;
  }
  .button1 {
    background: #ad1fea;
    padding: 12px 24px;
    font-size: 14px;
  }
}

nav {
  width: 100%;
  height: 72px;
}

.nav-logo-container {
  width: 100%;
  height: 100%;
  padding: 0 24px;
  background: linear-gradient(50deg, #28a7ed 0%, #b43cd5 40%, #a337f6 60%, #e84d70 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  color: #fff;
}

.nav-logo-container img {
  position: absolute;
  right: 24px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  cursor: pointer;
}

.nav-logo-container .body2 {
  opacity: 0.75;
}

.nav-sidebar {
  position: fixed;
  top: 72px;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 3;
  visibility: hidden;
}

.nav-sidebar.open {
  visibility: visible;
}

.nav-sidebar-container {
  position: fixed;
  right: 0;
  height: 100vh;
  background: #f7f8fd;
  padding: 2rem 1rem;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 0.4s ease-in-out;
  transition: -webkit-transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
}

.nav-sidebar.open .nav-sidebar-container {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.nav-sidebar-category, .nav-sidebar-roadmap {
  background: #fff;
  border-radius: 10px;
  padding: 2rem 1rem;
  max-width: 233px;
}

.nav-sidebar-category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1rem;
}

.nav-sidebar-roadmap {
  margin-top: 2rem;
}

.nav-sidebar-roadmap .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
}

.nav-sidebar-roadmap .header h3 {
  color: #3a4374;
}

.nav-sidebar-roadmap .header a {
  color: #4661e6;
  font-size: 13px;
  font-weight: 600;
  -webkit-transition: color 0.4s ease-in-out;
  transition: color 0.4s ease-in-out;
}

.nav-sidebar-roadmap .header a:hover {
  color: #8397f8;
}

.nav-sidebar-roadmap .roadmap-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}

.nav-sidebar-roadmap .roadmap-items .roadmap-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav-sidebar-roadmap .roadmap-items .roadmap-item .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-sidebar-roadmap .roadmap-items .roadmap-item .body1 {
  color: #647196;
}

.nav-sidebar-roadmap .roadmap-items .roadmap-item .roadmap-number {
  font-weight: 700;
}

.nav-sidebar-roadmap .roadmap-items .circle {
  width: 8px;
  height: 8px;
  border-radius: 100%;
}

.nav-sidebar-roadmap .roadmap-items .circle.orange {
  background: #f49f85;
}

.nav-sidebar-roadmap .roadmap-items .circle.purple {
  background: #ad1fea;
}

.nav-sidebar-roadmap .roadmap-items .circle.blue {
  background: #62bcfa;
}

.filter-btn {
  -webkit-transition: color 0.4s ease-in-out, background 0.4s ease-in-out;
  transition: color 0.4s ease-in-out, background 0.4s ease-in-out;
}

.filter-btn.active {
  background: #4661e6;
  color: #fff;
}

.filter-btn.active:hover {
  background: #4661e6;
}

.filter-btn:hover {
  background: #cfd7ff;
}

@media screen and (min-width: 768px) {
  nav {
    width: calc(100vw - 80px);
    max-height: 178px;
    height: 178px;
    margin: 40px auto;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 2fr;
        grid-template-columns: 1fr 2fr;
  }
  .nav-logo-container {
    height: 100%;
    width: calc(100% - 1rem);
    max-height: 178px;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding: 20px;
    border-radius: 10px;
  }
  .nav-logo-container img {
    display: none;
  }
  .nav-sidebar {
    position: inherit;
    width: 100%;
    height: 100%;
    max-height: 178px;
    background: transparent;
    visibility: visible;
  }
  .nav-sidebar-container {
    position: inherit;
    right: inherit;
    width: 100%;
    height: 100%;
    max-height: 178px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    gap: 1rem;
    background: transparent;
    padding: 0;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  .nav-sidebar-category, .nav-sidebar-roadmap {
    background: #fff;
    border-radius: 10px;
    padding: 1rem;
    max-width: inherit;
    max-height: 178px;
  }
  .nav-sidebar-category {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 1rem;
  }
  .nav-sidebar-roadmap {
    margin-top: 0;
  }
}

.sort-header {
  background: #373f68;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 56px;
  padding: 0 24px;
}

.sort-header-logo-container {
  display: none;
}

.sort-header-sug-container .sort-click {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  color: #f2f4fe;
  cursor: pointer;
  -webkit-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
}

.sort-header-sug-container .sort-click:hover {
  opacity: 0.75;
}

.sort-header-sug-container .sort-click .regular {
  font-weight: 400;
  cursor: initial;
}

.sug-container {
  position: absolute;
  top: 140px;
  background: #fff;
  -webkit-box-shadow: 0 2px 6px #979797;
          box-shadow: 0 2px 6px #979797;
  border-radius: 10px;
  height: 0;
  width: 200px;
  overflow: hidden;
  z-index: 2;
  -webkit-transition: height 0.4s ease-in-out;
  transition: height 0.4s ease-in-out;
}

.sug-container.open {
  height: 175px;
}

.sug-container .single-sort-container {
  border-bottom: 1px solid rgba(58, 67, 116, 0.15);
  padding: 10px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sug-container .single-sort-container .body1 {
  color: #647196;
  text-transform: capitalize;
  cursor: pointer;
  -webkit-transition: color 0.4s ease-in-out;
  transition: color 0.4s ease-in-out;
}

.sug-container .single-sort-container .body1:hover {
  color: #ad1fea;
}

.sug-container .single-sort-container img {
  opacity: 0;
  -webkit-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
}

.sug-container .single-sort-container.open img {
  opacity: 1;
}

.sug-container .single-sort-container:last-child {
  border-bottom: none;
}

@media screen and (min-width: 768px) {
  .sort-header {
    width: calc(100vw - 80px);
    margin: 0 auto;
    border-radius: 10px;
    height: 72px;
    padding: 0 16px 0 20px;
  }
  .sort-header-logo-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 1rem;
    color: #fff;
  }
  .sug-container {
    top: 350px;
    width: 250px;
  }
  .sug-container.open {
    height: 215px;
  }
  .sug-container .single-sort-container {
    padding: 15px 30px;
  }
}

.all-feedbacks {
  padding: 20px 24px 3rem 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}

.single-feedback {
  background: #fff;
  border-radius: 10px;
  padding: 2rem 20px;
  display: block;
  text-decoration: none;
}

.single-feedback .title {
  font-size: 13px;
  color: #3a4374;
  text-decoration: none;
  font-weight: 700;
  margin-bottom: 10px;
  -webkit-transition: color 0.4s ease-in-out;
  transition: color 0.4s ease-in-out;
}

.single-feedback:hover .title {
  color: #4661e6;
}

.single-feedback .body1 {
  font-size: 13px;
  color: #647196;
}

.single-feedback .category-btn {
  margin-top: 10px;
  margin-bottom: 1rem;
  cursor: inherit;
}

.single-feedback .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.upvotes-btn {
  background: #f2f4fe;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  padding: 5px 10px;
  font-size: 13px;
  color: #3a4374;
  font-weight: bold;
  -webkit-transition: background 0.4s ease-in-out;
  transition: background 0.4s ease-in-out;
}

.upvotes-btn:hover {
  background: #cfd7ff;
}

.votes-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.votes-container .body1 {
  color: #3a4374;
  font-weight: 700;
}

.votes-container .zero {
  opacity: 0.5;
}

.no-feedback {
  background: #fff;
  height: 460px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2rem;
  border-radius: 10px;
}

.no-feedback-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}

.no-feedback-container h3 {
  color: #3a4374;
}

.no-feedback-container img {
  width: 102px;
}

.no-feedback-container .body2 {
  text-align: center;
  color: #647196;
  max-width: 278px;
}

@media screen and (min-width: 768px) {
  .all-feedbacks {
    padding: 20px 0 3rem 0;
    width: calc(100vw - 80px);
    margin: 0 auto;
  }
  .single-feedback {
    background: #fff;
    border-radius: 10px;
    padding: 2rem;
    position: relative;
  }
  .single-feedback .title {
    font-size: 18px;
    margin-left: 6rem;
  }
  .single-feedback .body1 {
    font-size: 16px;
    margin-left: 6rem;
  }
  .single-feedback .category-btn {
    margin-top: 10px;
    margin-bottom: 0;
    margin-left: 6rem;
  }
  .upvotes-btn {
    position: absolute;
    top: 38px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 5px;
    padding: 10px 15px;
    max-width: 40px;
  }
  .votes-container {
    position: absolute;
    right: 2rem;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    gap: 10px;
  }
  .votes-container .body1 {
    margin-left: 0;
  }
  .no-feedback {
    height: 600px;
  }
  .no-feedback-container {
    gap: 2rem;
  }
  .no-feedback-container img {
    width: 130px;
  }
  .no-feedback-container .body2 {
    max-width: 410px;
  }
}
/*# sourceMappingURL=style.css.map */