.roadmap-nav {
  background: $color-dark-blue;
  width: 100vw;
  height: 100px;
  max-height: 100px;
  display: flex;

  &-container {
    width: calc(100% - 48px);
    margin: 0 auto;
    @include flex($justify: space-between, $align: center);
    color: $color-white;

    .go-back-roadmap {
      color: $color-white;
      text-decoration: none;
      display: flex;
      align-items: center;
      gap: 10px;
      font-size: 13px;
    }
  }
}

.roadmap-header {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(140, 146, 179, 0.25);

  p {
    font-size: 13px;
    color: $color-special-black;
    font-weight: bold;
    opacity: 0.4;
    padding: 15px 0;
    text-align: center;
    cursor: pointer;
    width: 100%;
    border-bottom: 4px solid transparent;
    @include basicTransition(all);

    &:hover {
      opacity: 1;
    }
  }

  .active {
    opacity: 1;
  }

  .planned-header.active {
    border-bottom-color: $color-orange;
  }
  .progress-header.active {
    border-bottom-color: $color-purple;
  }
  .live-header.active {
    border-bottom-color: $color-light-blue;
  }
}

.roadmap-section {
  width: calc(100vw - 48px);
  margin: 0 auto;
  position: relative;

  .single-roadmap {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;

    display: none;
    padding-bottom: 2rem;

    .text {
      padding-top: 20px;
      padding-bottom: 4px;

      h3 {
        color: $color-special-black;
      }

      p {
        color: $color-grey;
        font-size: 13px;
      }
    }

    &-item {
      background: $color-white;
      padding: 1rem;
      @include borderRadius;
      position: relative;
      margin-top: 1rem;

      .top-color {
        position: absolute;
        height: 6px;
        width: 100%;
        top: 0;
        left: 0;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
      }

      .header-container {
        display: flex;
        align-items: center;
        gap: 10px;
        margin-bottom: 1rem;

        p {
          font-size: 13px;
          color: $color-grey;
        }

        .circle {
          width: 8px;
          height: 8px;
          border-radius: 100%;
        }
      }

      a {
        display: block;
        font-size: 13px;
        color: $color-special-black;
        text-decoration: none;
        font-weight: 700;
        margin-bottom: 8px;
        @include basicTransition($value: color);

        &:hover {
          color: $color-blue;
        }
      }

      .body1 {
        font-size: 13px;
        color: $color-grey;
      }

      .category-btn {
        margin-top: 10px;
        margin-bottom: 1rem;
        cursor: inherit;
      }

      .container {
        @include flexBasic;
      }
    }
  }
}

.single-roadmap.active {
  display: block;
}

.single-roadmap.active .single-roadmap-item {
  display: block;
}

.single-roadmap.purple .top-color,
.single-roadmap.purple .circle {
  background: $color-purple;
}

.single-roadmap.orange .top-color,
.single-roadmap.orange .circle {
  background: $color-orange;
}

.single-roadmap.blue .top-color,
.single-roadmap.blue .circle {
  background: $color-light-blue;
}
