nav {
  width: 100%;
  background: linear-gradient(
    50deg,
    rgba(40, 167, 237, 1) 0%,
    rgba(180, 60, 213, 1) 40%,
    rgba(163, 55, 246, 1) 60%,
    rgba(232, 77, 112, 1) 100%
  );
  padding: 0 $padding;
  height: 72px;
  display: flex;
  align-items: center;
}

.nav-logo-container {
  width: 100%;
  position: relative;
  color: $color-white;

  img {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
  }
}

.nav-sidebar {
  position: fixed;
  top: 72px;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 3;
  visibility: hidden;
  z-index: 10;

  &.open {
    visibility: visible;
  }

  &-container {
    position: fixed;
    right: 0;
    height: 100vh;
    background: $color-background;
    padding: 2rem 1rem;
    transform: translateX(100%);
    @include basicTransition($value: transform);
  }

  &.open &-container {
    transform: translateX(0);
  }

  &-category,
  &-roadmap {
    background: $color-white;
    border-radius: 10px;
    padding: 2rem 1rem;
    max-width: 233px;
  }

  &-category {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }

  &-roadmap {
    margin-top: 2rem;

    .header {
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;

      h3 {
        color: $color-special-black;
      }

      a {
        color: $color-blue;
        font-size: 13px;
        font-weight: 600;
      }
    }

    .roadmap-items {
      display: flex;
      flex-direction: column;
      gap: 10px;

      .roadmap-item {
        display: flex;
        justify-content: space-between;

        .container {
          display: flex;
          gap: 10px;
          align-items: center;
        }

        .body1 {
          color: $color-grey;
        }

        .roadmap-number {
          font-weight: 700;
        }
      }

      .circle {
        width: 8px;
        height: 8px;
        border-radius: 100%;

        &.orange {
          background: $color-orange;
        }
        &.purple {
          background: $color-purple;
        }
        &.blue {
          background: $color-light-blue;
        }
      }
    }
  }
}
