.sort-header {
  background: $color-dark-blue;
  @include flexBasic;
  height: 56px;
  padding: 0 24px;

  &-logo-container {
    display: none;
  }

  &-sug-container {
    .sort-click {
      display: flex;
      align-items: center;
      gap: 10px;
      color: #f2f4fe;
      cursor: pointer;
      @include basicTransition($value: opacity);

      &:hover {
        opacity: 0.75;
      }

      .regular {
        font-weight: 400;
        cursor: initial;
      }
    }
  }
}

.sug-container {
  position: absolute;
  top: 140px;
  @include whiteAndShadow;
  border-radius: 10px;
  height: 0;
  width: 200px;
  overflow: hidden;
  z-index: 2;
  @include basicTransition($value: height);

  &.open {
    height: 175px;
  }

  .single-sort-container {
    border-bottom: 1px solid rgba(58, 67, 116, 0.15);
    padding: 10px 20px;
    @include flexBasic;

    .body1 {
      color: $color-grey;
      text-transform: capitalize;
      cursor: pointer;
      @include basicTransition($value: color);

      &:hover {
        color: $color-purple;
      }
    }

    img {
      opacity: 0;
      @include basicTransition($value: opacity);
    }

    &.open {
      img {
        opacity: 1;
      }
    }

    &:last-child {
      border-bottom: none;
    }
  }
}

@include tabletScreen {
  .sort-header {
    width: calc(100vw - 80px);
    margin: 0 auto;
    @include borderRadius;
    height: 72px;
    padding: 0 16px 0 20px;

    &-logo-container {
      display: flex;
      gap: 1rem;
      color: $color-white;
    }
  }

  .sug-container {
    top: 350px;
    width: 250px;

    &.open {
      height: 215px;
    }

    .single-sort-container {
      padding: 15px 30px;
    }
  }
}

@include desktopScreen {
  .sort-header {
    width: calc(100% - 40px);
    margin: 0 auto;
  }
}
