@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;600;700&display=swap');

* {
  font-family: 'Jost', sans-serif;
}

h1 {
  font-size: 18px;
}

h2 {
  font-size: 15px;
}

h3 {
  font-size: 18px;
}

h4 {
  font-size: 13px;
}

.body1 {
  font-size: 16px;
}

.body2 {
  font-size: 13px;
}

button {
  border-radius: 10px;
  border: 0;
  cursor: pointer;
  font-weight: 700;
  @include borderRadius;

  &:focus {
    outline: none;
  }
}

.category-btn {
  background: $color-light-grey;
  font-size: 13px;
  text-transform: capitalize;
  padding: 7.5px 15px;
  color: $color-blue;
}

.button1,
.button3 {
  padding: 10px 20px;
  font-size: 13px;
  color: $color-light-grey;
  @include basicTransition($value: background);
}

.button1 {
  background: $color-purple;
  &:hover {
    background: $color-light-purple;
  }
}

.button3 {
  background: $color-special-black;
  &:hover {
    background: $color-light-dark;
  }
}

.uppercase {
  text-transform: uppercase;
}

@include tabletScreen {
  h1 {
    font-size: 24px;
  }

  h2 {
    font-size: 20px;
  }

  h4 {
    font-size: 14px;
  }

  .body2 {
    font-size: 16px;
  }

  .button1 {
    background: $color-purple;
    padding: 12px 24px;
    font-size: 14px;
  }
}
