@mixin whiteAndShadow {
  background: $color-white;
  box-shadow: 0 2px 6px #979797;
}

@mixin flex($justify, $align) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

@mixin flexBasic {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin basicTransition($value) {
  transition: $value 0.4s ease-in-out;
}

@mixin tabletScreen {
  @media screen and (min-widhth: 768px) {
    @content;
  }
}
